@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Дневник школьника</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <div id="wrapper">
        <header>
            <a href="/"><img src="~/images/logo.png" alt="Whitesquare logo"></a>

        </header>
        <nav>
            <ul class="top-menu">
                <li class="active">Домой</li>
                <li><a href="~/Diary/DiariesUser">Проверить дневник</a></li>
                <li><a href="~/Diary/Diaries">Дневники</a></li>
                <li><a href="~/School/Schools">Школьники</a></li>
                <li><a href="~/Account/Login">Войти</a></li>
                <li><a href="~/Account/Register">Регистрация</a></li>
            </ul>
        </nav>
        <div id="heading">
            <h1>Главная страница</h1>
        </div>
        <aside>
            <nav>
                <ul class="aside-menu">
                    <li class="active">Что такое</li>
                    <li><a href="/donec/">Для чего нужен</a></li>
                    <li><a href="/vestibulum/">Как войти</a></li>
                    <li><a href="/etiam/">Как пользоваться</a></li>
                </ul>
            </nav>
        </aside>
        <section>
            <blockquote>
                <p>
                    &ldquo; Как пользоваться электронным дневником?  &rdquo;
                </p>
            </blockquote>
            <p>Услугами электронного дневника могут пользоваться все те, кто имеют к нему доступ. Доступ осуществляется администрацией школы путем предоставления логина и пароля каждому ученику. Таким образом, пользователями электронного дневника являются:</p>
            <p>ученики</p>
            <p>родители учеников</p>
            <p>учителя</p>
            <p>администрация школы</p>
            <p>высшие органы системы образования</p>
            <p>медицинский работник школы</p>
        </section>
    </div>
</body>
</html>