
@{
    ViewBag.Title = "DiariesUser";
}


@model IEnumerable<Schoolboy_diary.Models.Diary>
@{
    Layout = null;
}

    <!doctype html>
    <html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Дневник школьника</title>
        <link rel="stylesheet" href="~/Content/styles.css" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <a href="/"><img src="~/images/logo.png" alt="Whitesquare logo"></a>

            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="~/Home/Index">Домой</a></li>
                    <li class="active">Проверить дневник</li>
                    <li><a href="~/Diary/Diaries">Дневники</a></li>
                    <li><a href="~/School/Schools">Школьники</a></li>
                    <li><a href="~/Account/Login">Войти</a></li>
                    <li><a href="~/Account/Register">Регистрация</a></li>
                </ul>
            </nav>
            <div id="heading">
                <h1>Проверка дневника</h1>
            </div>
            <aside>
                <nav>
                    <ul class="aside-menu">
                        <li class="active">Что такое</li>
                        <li><a href="/donec/">Для чего нужен</a></li>
                        <li><a href="/vestibulum/">Как войти</a></li>
                        <li><a href="/etiam/">Как пользоваться</a></li>
                    </ul>
                </nav>
            </aside>
            <section>
                <blockquote>
                    <p>
                        &ldquo; Электронный дневник  &rdquo;
                    </p>
                </blockquote>
                <p>

                    @using (Ajax.BeginForm("DiarySearch", new AjaxOptions { UpdateTargetId = "results" }))
                    {
                        @Html.DropDownList("searchingSchool", null, htmlAttributes: new { @class = "form-control" })
                        <input type="text" name="searchingDate" />
                        <input type="submit" value="Найти" />
                    }
                    <div id="results"></div>
                    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
                    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
                </p>
            </section>
        </div>
    </body>
</html>
